{#- vim: ft=jinja #}

{#-
    This queries Github releases (by default) to find the latest release
    for vaulwarden and the patched web vault.
    For vaultwarden, it would have been possible to pull the repo and run
    `git tag --sort=v:refname | tail -n1`, but that would complicate
    the package.installed state.
    Not using "...".format() because the url_effective would interfere.
-#}

{%- for version, query in [
      ("version", mapdata.lookup.pkg.latest),
      ("version_web_vault", mapdata.lookup.web_vault.latest),
    ]
-%}
  {%- if "latest" == mapdata[version] -%}
    {#- make sure curl is available to parse the final URL -#}
    {%- if "curl" | which -%}
      {%- set latest = salt["cmd.run_stdout"](
            "curl -ILs -o /dev/null -w %{url_effective} '" ~ query ~
            "' | grep -o '[^/]*$' | sed 's/v//'",
            python_shell=true
          )
      -%}
    {#- Otherwise, do some shell stuff to hopefully find (only) the version.
        OPTIONS query failed with 404 and there is no way to get the final URL from Salt afaict. -#}
    {%- else -%}
      {%- set whole_page = salt["http.query"](query) -%}
      {%- set latest = salt["cmd.run_stdout"](
            "grep -oE '<h1 [^>]+>v?[0-9\.]+' | cut -d'>' -f2 | sed 's/v//'",
            stdin=whole_page.body,
            python_shell=true
          )
      -%}
    {%- endif -%}
    {%- do mapdata.update({version: latest}) -%}
  {%- endif -%}
{%- endfor -%}


{#-
    Parse required dependencies for compiling vaultwarden here
    instead of the state file to keep it legible.
-#}

{%- set deps = [] -%}
{%- for feat in mapdata.features -%}
  {%- do deps.extend(mapdata.lookup.requirements.get(feat, [])) -%}
{%- endfor -%}
{%- do deps.extend(mapdata.lookup.requirements.base) -%}
{%- do mapdata.update({"_deps": deps | unique}) -%}


{#-
    Parse the data paths. They can be relative to the data folder
    or absolute.
-#}

{%- for scope in ["attachments", "icon_cache", "rsa_keyfile", "sends"] -%}
  {%- if "/" != mapdata.lookup.paths[scope][0] -%}
    {%- do mapdata.lookup.paths.update({scope: mapdata.lookup.paths.data | path_join(mapdata.lookup.paths[scope])}) -%}
  {%- endif -%}
{%- endfor -%}

{#-
    Set the log file and web vault paths.

    The latter is necessary because something in the default service
    seems to break autodiscovery.
-#}

{%- do mapdata.config.update({
    "log_file": mapdata.lookup.paths.log | path_join("vaultwarden.log"),
    "web_vault_folder": mapdata.lookup.paths.web_vault,
    })
-%}

{#-
    Set the correct path config values automatically.
    Also, make sure the service will have necessary access rights.
-#}

{%- do mapdata.update({"_rw": []}) -%}
{%- for var, current, default in [
      ("data_folder", mapdata.lookup.paths.data, mapdata.lookup.paths.bin | path_join("data")),
      ("attachments_folder", mapdata.lookup.paths.attachments, mapdata.lookup.paths.data | path_join("attachments")),
      ("icon_cache_folder", mapdata.lookup.paths.icon_cache, mapdata.lookup.paths.data | path_join("icon_cache")),
      ("sends_folder", mapdata.lookup.paths.sends, mapdata.lookup.paths.data | path_join("sends")),
      ("rsa_key_filename", mapdata.lookup.paths.rsa_keyfile, mapdata.lookup.paths.data | path_join("rsa_key")),
    ] -%}
  {%- if current != default -%}
    {%- do mapdata.config.update({var: current}) -%}
    {%- if var not in ["data_folder", "web_vault_folder"] -%}
      {%- if var == "rsa_key_filename" -%}
        {%- do mapdata._rw.extend([current ~ ".pem", current ~ ".pub.pem"]) -%}
      {%- else %}
        {#- web vault can be read-only, data/logs is ensured in the service template -#}
        {%- do mapdata._rw.append(current) -%}
      {%- endif %}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
